#page-header {
	//padding: 10px 15px;
	
	text-align: center;
}

#plotCanvas {
	display: block;
	margin: 0 auto;
}

.functionView>* {
	vertical-align:middle;
}

.close {
	float:none;	// remove Bootstrap's float: right
}